<%= form_for(@personne) do |f| %>
  <% if @personne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personne.errors.count, "error") %> prohibited this personne from being saved:</h2>

      <ul>
      <% @personne.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prenom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :statut %><br>
    <%= f.text_field :statut %>
  </div>
  <div class="field">
    <%= f.label :datedenaissance %><br>
    <%= f.date_field :datedenaissance %>
  </div>
  <div class="field">
    <%= f.label :famille_id %><br>
    <%= f.text_field :famille_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
