<p id="notice"><%= notice %></p>

<h1>Listing Personnes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Prenom</th>
      <th>Statut</th>
      <th>Date de naissance</th>
      <th>Famille</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personnes.each do |personne| %>
      <tr>
        <td><%= personne.prenom %></td>
        <td><%= personne.statut %></td>
        <td><%= personne.datedenaissance %></td>
        <td><%= personne.famille %></td>
        <td><%= link_to 'Afficher', personne %></td>
        <td><%= link_to 'Editer', edit_personne_path(personne) %></td>
        <td><%= link_to 'Effacer', personne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personne', new_personne_path %>
