<p id="notice"><%= notice %></p>

<p>
  <strong>Prenom:</strong>
  <%= @personne.nom %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @personne.statut %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @personne.datedenaissance %>
</p>

<p>
  <strong>Famille:</strong>
  <%= @personne.famille %>
</p>

<%= link_to 'Edit', edit_personne_path(@personne) %> |
<%= link_to 'Back', personnes_path %>
