<div class="container">
  <div class="row thumbnail">
      <p id="notice"><%= notice %></p>

      <div class="col-sm-4">
        <p>
          <%= image_tag(@blog.picture_url, class: "picture") if @blog.picture.present? %>
        </p>
      </div>
      <div class="col-sm-8">
        <p>
          <strong>Titre:</strong>
          <%= @blog.post %>
        </p>

        <p>
          <strong>Message:</strong>
          <%= @blog.contenu %>
        </p>
      </div>

    <%= link_to 'Modifier', edit_blog_path(@blog),class: "btn btn-warning btn-xs" %> |
    <%= link_to 'Retour', blogs_path , class: "btn btn-warning btn-xs" %>
</div>
</div>
